In [7]:
import matplotlib

matplotlib.use('TkAgg')
from matplotlib import pyplot as plt
import seaborn as sns

from collections import Counter

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, \
    ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
import numpy as np
import urllib
import pandas as pd
import os

* ## 读取数据

In [10]:
train = pd.read_csv("/Users/zac/algrithm/python/SklearnOnKaggle/train.csv", sep=",")
test = pd.read_csv("/Users/zac/algrithm/python/SklearnOnKaggle/test.csv", sep=",")
IDtest = test["PassengerId"]
train,test

(     PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 5              6         0       3
 6              7         0       1
 7              8         0       3
 8              9         1       3
 9             10         1       2
 10            11         1       3
 11            12         1       1
 12            13         0       3
 13            14         0       3
 14            15         0       3
 15            16         1       2
 16            17         0       3
 17            18         1       2
 18            19         0       3
 19            20         1       3
 20            21         0       2
 21            22         1       2
 22            23         1       3
 23            24         1       1
 24            25         0       3
 25            26         1       3
 26            27         0       3
 27            28         0       1
 28            29         1       3
 29            30         0       3
 ..           ...       ...     ...
 861          862         0       2
 862          863         1       1
 863          864         0       3
 864          865         0       2
 865          866         1       2
 866          867         1       2
 867          868         0       1
 868          869         0       3
 869          870         1       3
 870          871         0       3
 871          872         1       1
 872          873         0       1
 873          874         0       3
 874          875         1       2
 875          876         1       3
 876          877         0       3
 877          878         0       3
 878          879         0       3
 879          880         1       1
 880          881         1       2
 881          882         0       3
 882          883         0       3
 883          884         0       2
 884          885         0       3
 885          886         0       3
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 5                                     Moran, Mr. James    male   NaN      0
 6                              McCarthy, Mr. Timothy J    male  54.0      0
 7                       Palsson, Master. Gosta Leonard    male   2.0      3
 8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
 9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
 10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
 11                            Bonnell, Miss. Elizabeth  female  58.0      0
 12                      Saundercock, Mr. William Henry    male  20.0      0
 13                         Andersson, Mr. Anders Johan    male  39.0      1
 14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
 15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
 16                                Rice, Master. Eugene    male   2.0      4
 17                        Williams, Mr. Charles Eugene    male   NaN      0
 18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
 19                             Masselmani, Mrs. Fatima  female   NaN      0
 20                                Fynney, Mr. Joseph J    male  35.0      0
 21                               Beesley, Mr. Lawrence    male  34.0      0
 22                         McGowan, Miss. Anna "Annie"  female  15.0      0
 23                        Sloper, Mr. William Thompson    male  28.0      0
 24                       Palsson, Miss. Torborg Danira  female   8.0      3
 25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
 26                             Emir, Mr. Farred Chehab    male   NaN      0
 27                      Fortune, Mr. Charles Alexander    male  19.0      3
 28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
 29                                 Todoroff, Mr. Lalio    male   NaN      0
 ..                                                 ...     ...   ...    ...
 861                        Giles, Mr. Frederick Edward    male  21.0      1
 862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
 863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
 864                             Gill, Mr. John William    male  24.0      0
 865                           Bystrom, Mrs. (Karolina)  female  42.0      0
 866                       Duran y More, Miss. Asuncion  female  27.0      1
 867               Roebling, Mr. Washington Augustus II    male  31.0      0
 868                        van Melkebeke, Mr. Philemon    male   NaN      0
 869                    Johnson, Master. Harold Theodor    male   4.0      1
 870                                  Balkic, Mr. Cerin    male  26.0      0
 871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
 872                           Carlsson, Mr. Frans Olof    male  33.0      0
 873                        Vander Cruyssen, Mr. Victor    male  47.0      0
 874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
 875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
 876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
 877                               Petroff, Mr. Nedelio    male  19.0      0
 878                                 Laleff, Mr. Kristo    male   NaN      0
 879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
 880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
 881                                 Markun, Mr. Johann    male  33.0      0
 882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
 883                      Banfield, Mr. Frederick James    male  28.0      0
 884                             Sutehall, Mr. Henry Jr    male  25.0      0
 885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket      Fare        Cabin Embarked
 0        0         A/5 21171    7.2500          NaN        S
 1        0          PC 17599   71.2833          C85        C
 2        0  STON/O2. 3101282    7.9250          NaN        S
 3        0            113803   53.1000         C123        S
 4        0            373450    8.0500          NaN        S
 5        0            330877    8.4583          NaN        Q
 6        0             17463   51.8625          E46        S
 7        1            349909   21.0750          NaN        S
 8        2            347742   11.1333          NaN        S
 9        0            237736   30.0708          NaN        C
 10       1           PP 9549   16.7000           G6        S
 11       0            113783   26.5500         C103        S
 12       0         A/5. 2151    8.0500          NaN        S
 13       5            347082   31.2750          NaN        S
 14       0            350406    7.8542          NaN        S
 15       0            248706   16.0000          NaN        S
 16       1            382652   29.1250          NaN        Q
 17       0            244373   13.0000          NaN        S
 18       0            345763   18.0000          NaN        S
 19       0              2649    7.2250          NaN        C
 20       0            239865   26.0000          NaN        S
 21       0            248698   13.0000          D56        S
 22       0            330923    8.0292          NaN        Q
 23       0            113788   35.5000           A6        S
 24       1            349909   21.0750          NaN        S
 25       5            347077   31.3875          NaN        S
 26       0              2631    7.2250          NaN        C
 27       2             19950  263.0000  C23 C25 C27        S
 28       0            330959    7.8792          NaN        Q
 29       0            349216    7.8958          NaN        S
 ..     ...               ...       ...          ...      ...
 861      0             28134   11.5000          NaN        S
 862      0             17466   25.9292          D17        S
 863      2          CA. 2343   69.5500          NaN        S
 864      0            233866   13.0000          NaN        S
 865      0            236852   13.0000          NaN        S
 866      0     SC/PARIS 2149   13.8583          NaN        C
 867      0          PC 17590   50.4958          A24        S
 868      0            345777    9.5000          NaN        S
 869      1            347742   11.1333          NaN        S
 870      0            349248    7.8958          NaN        S
 871      1             11751   52.5542          D35        S
 872      0               695    5.0000  B51 B53 B55        S
 873      0            345765    9.0000          NaN        S
 874      0         P/PP 3381   24.0000          NaN        C
 875      0              2667    7.2250          NaN        C
 876      0              7534    9.8458          NaN        S
 877      0            349212    7.8958          NaN        S
 878      0            349217    7.8958          NaN        S
 879      1             11767   83.1583          C50        C
 880      1            230433   26.0000          NaN        S
 881      0            349257    7.8958          NaN        S
 882      0              7552   10.5167          NaN        S
 883      0  C.A./SOTON 34068   10.5000          NaN        S
 884      0   SOTON/OQ 392076    7.0500          NaN        S
 885      5            382652   29.1250          NaN        Q
 886      0            211536   13.0000          NaN        S
 887      0            112053   30.0000          B42        S
 888      2        W./C. 6607   23.4500          NaN        S
 889      0            111369   30.0000         C148        C
 890      0            370376    7.7500          NaN        Q

 [891 rows x 12 columns],
      PassengerId  Pclass                                               Name  \
 0            892       3                                   Kelly, Mr. James
 1            893       3                   Wilkes, Mrs. James (Ellen Needs)
 2            894       2                          Myles, Mr. Thomas Francis
 3            895       3                                   Wirz, Mr. Albert
 4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
 5            897       3                         Svensson, Mr. Johan Cervin
 6            898       3                               Connolly, Miss. Kate
 7            899       2                       Caldwell, Mr. Albert Francis
 8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
 9            901       3                            Davies, Mr. John Samuel
 10           902       3                                   Ilieff, Mr. Ylio
 11           903       1                         Jones, Mr. Charles Cresson
 12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
 13           905       2                               Howard, Mr. Benjamin
 14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
 15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
 16           908       2                                  Keane, Mr. Daniel
 17           909       3                                  Assaf, Mr. Gerios
 18           910       3                       Ilmakangas, Miss. Ida Livija
 19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
 20           912       1                             Rothschild, Mr. Martin
 21           913       3                          Olsen, Master. Artur Karl
 22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
 23           915       1                    Williams, Mr. Richard Norris II
 24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
 25           917       3                            Robins, Mr. Alexander A
 26           918       1                       Ostby, Miss. Helene Ragnhild
 27           919       3                                  Daher, Mr. Shedid
 28           920       1                            Brady, Mr. John Bertram
 29           921       3                                  Samaan, Mr. Elias
 ..           ...     ...                                                ...
 388         1280       3                               Canavan, Mr. Patrick
 389         1281       3                        Palsson, Master. Paul Folke
 390         1282       1                         Payne, Mr. Vivian Ponsonby
 391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
 392         1284       3                      Abbott, Master. Eugene Joseph
 393         1285       2                               Gilbert, Mr. William
 394         1286       3                           Kink-Heilmann, Mr. Anton
 395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
 396         1288       3                               Colbert, Mr. Patrick
 397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
 398         1290       3                     Larsson-Rondberg, Mr. Edvard A
 399         1291       3                           Conlon, Mr. Thomas Henry
 400         1292       1                            Bonnell, Miss. Caroline
 401         1293       2                                    Gale, Mr. Harry
 402         1294       1                     Gibson, Miss. Dorothy Winifred
 403         1295       1                             Carrau, Mr. Jose Pedro
 404         1296       1                       Frauenthal, Mr. Isaac Gerald
 405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
 406         1298       2                          Ware, Mr. William Jeffery
 407         1299       1                         Widener, Mr. George Dunton
 408         1300       3                    Riordan, Miss. Johanna Hannah""
 409         1301       3                          Peacock, Miss. Treasteall
 410         1302       3                             Naughton, Miss. Hannah
 411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
 412         1304       3                     Henriksson, Miss. Jenny Lovisa
 413         1305       3                                 Spector, Mr. Woolf
 414         1306       1                       Oliva y Ocana, Dona. Fermina
 415         1307       3                       Saether, Mr. Simon Sivertsen
 416         1308       3                                Ware, Mr. Frederick
 417         1309       3                           Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare  \
 0      male  34.5      0      0              330911    7.8292
 1    female  47.0      1      0              363272    7.0000
 2      male  62.0      0      0              240276    9.6875
 3      male  27.0      0      0              315154    8.6625
 4    female  22.0      1      1             3101298   12.2875
 5      male  14.0      0      0                7538    9.2250
 6    female  30.0      0      0              330972    7.6292
 7      male  26.0      1      1              248738   29.0000
 8    female  18.0      0      0                2657    7.2292
 9      male  21.0      2      0           A/4 48871   24.1500
 10     male   NaN      0      0              349220    7.8958
 11     male  46.0      0      0                 694   26.0000
 12   female  23.0      1      0               21228   82.2667
 13     male  63.0      1      0               24065   26.0000
 14   female  47.0      1      0         W.E.P. 5734   61.1750
 15   female  24.0      1      0       SC/PARIS 2167   27.7208
 16     male  35.0      0      0              233734   12.3500
 17     male  21.0      0      0                2692    7.2250
 18   female  27.0      1      0    STON/O2. 3101270    7.9250
 19   female  45.0      0      0                2696    7.2250
 20     male  55.0      1      0            PC 17603   59.4000
 21     male   9.0      0      1             C 17368    3.1708
 22   female   NaN      0      0            PC 17598   31.6833
 23     male  21.0      0      1            PC 17597   61.3792
 24   female  48.0      1      3            PC 17608  262.3750
 25     male  50.0      1      0           A/5. 3337   14.5000
 26   female  22.0      0      1              113509   61.9792
 27     male  22.5      0      0                2698    7.2250
 28     male  41.0      0      0              113054   30.5000
 29     male   NaN      2      0                2662   21.6792
 ..      ...   ...    ...    ...                 ...       ...
 388    male  21.0      0      0              364858    7.7500
 389    male   6.0      3      1              349909   21.0750
 390    male  23.0      0      0               12749   93.5000
 391  female  51.0      0      1            PC 17592   39.4000
 392    male  13.0      0      2           C.A. 2673   20.2500
 393    male  47.0      0      0          C.A. 30769   10.5000
 394    male  29.0      3      1              315153   22.0250
 395  female  18.0      1      0               13695   60.0000
 396    male  24.0      0      0              371109    7.2500
 397  female  48.0      1      1               13567   79.2000
 398    male  22.0      0      0              347065    7.7750
 399    male  31.0      0      0               21332    7.7333
 400  female  30.0      0      0               36928  164.8667
 401    male  38.0      1      0               28664   21.0000
 402  female  22.0      0      1              112378   59.4000
 403    male  17.0      0      0              113059   47.1000
 404    male  43.0      1      0               17765   27.7208
 405    male  20.0      0      0       SC/PARIS 2166   13.8625
 406    male  23.0      1      0               28666   10.5000
 407    male  50.0      1      1              113503  211.5000
 408  female   NaN      0      0              334915    7.7208
 409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
 410  female   NaN      0      0              365237    7.7500
 411  female  37.0      1      0               19928   90.0000
 412  female  28.0      0      0              347086    7.7750
 413    male   NaN      0      0           A.5. 3236    8.0500
 414  female  39.0      0      0            PC 17758  108.9000
 415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
 416    male   NaN      0      0              359309    8.0500
 417    male   NaN      1      1                2668   22.3583

                Cabin Embarked
 0                NaN        Q
 1                NaN        S
 2                NaN        Q
 3                NaN        S
 4                NaN        S
 5                NaN        S
 6                NaN        Q
 7                NaN        S
 8                NaN        C
 9                NaN        S
 10               NaN        S
 11               NaN        S

In [12]:
def detect_outliers(df, n, features):
    outlier_indices = []
    # 遍历features
    for col in features:
        # 取第一个四分位,即百分位25(nanpercentile可以去掉nan计算百分位,percentile会把nan也算进来)
        Q1 = np.nanpercentile(df[col], 25)
        # 取第三个四分位
        Q3 = np.nanpercentile(df[col], 75)
        # interquartile range ,统计四分位差
        IQR = Q3 - Q1
        # outlier step,设置间距为四分位差的1.5
        outlier_step = 1.5 * IQR
        # 找出落在(Q1-outlier_step,Q3+outlier_step)之外的,即为outlierPoint,记录下这条样本的index
        # (-6.6875,64.8125)
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step)].index
        # 把每个feature的outlier样本的index保存起来,例如对于年龄(Age)特征来说,outlier的样本记录有11个,index为33, 54, 96, 116, 280, 456, 493, 630, 672, 745, 851
        # df.loc[[33, 54, 96, 116, 280, 456, 493, 630, 672, 745, 851],:]
        # df.loc[[33, 54, 96, 116, 280, 456, 493, 630, 672, 745, 851],["Age"]]
        outlier_indices.extend(outlier_list_col)

    # select observations containing more than 2 outliers
    # 选择样本记录中,包含有超过两(n)个特征都是outlier的,如27行有3个特征是outlied,所以27行是outlier
    outlier_indices = Counter(outlier_indices)
    multiple_outliers = list(k for k, v in outlier_indices.items() if v > n)
    return multiple_outliers

## 去掉包含两个特征异常的记录

In [15]:
# detect outliers from Age, SbiSp, Parch and Fare
Outliers_to_drop = detect_outliers(train, 2, ["Age", "SibSp", "Parch", "Fare"])
# show outlier rows
outlier_row = train.loc[Outliers_to_drop]
# Drop outliers
train = train.drop(Outliers_to_drop, axis=0).reset_index(drop=True)

# 混合train和test,获得整体数据集
dataset = pd.concat(objs=[train, test], axis=0).reset_index(drop=True)

## Fare特征的倾斜太大，用log处理一下

In [19]:
dataset["Fare"] = dataset["Fare"].map(lambda x: np.log(x) if x > 0 else 0)

## Embarked为null的有俩，用出现最多的"S"填充这两个

In [28]:
dataset["Embarked"].isnull().sum()

In [ ]:
dataset["Embarked"] = dataset["Embarked"].fillna("S")

## 把性别转成0、1

In [44]:
dataset["Sex"] = dataset["Sex"].map({"male": 0, "female": 1})

## 填充年龄数据

In [29]:
index_NaN_age = list(dataset["Age"][dataset["Age"].isnull()].index)

In [30]:
for i in index_NaN_age:
    # 取所有年龄的均值
    age_med = dataset["Age"].median()
    # 取i列里的SibSp,Parch,Pclass,找数据集中其他和这三个"全都(&)"相等的,找出那些记录的年龄然后取均值
    age_pred = dataset["Age"][((dataset['SibSp'] == dataset.iloc[i]["SibSp"]) &
                               (dataset['Parch'] == dataset.iloc[i]["Parch"]) &
                               (dataset['Pclass'] == dataset.iloc[i]["Pclass"]))].median()
    # 如果age_pred不是Nan就直接用它,否则用全部年龄的均值
    if not np.isnan(age_pred):
        dataset['Age'].iloc[i] = age_pred
    else:
        dataset['Age'].iloc[i] = age_med

/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

## 把名字按空格分割，取前半部分（即形式），然后创建新的一列Title

In [31]:
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in dataset["Name"]]

In [36]:
dataset["Title"] = pd.Series(dataset_title)

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
5           Mr
6           Mr
7       Master
8          Mrs
9          Mrs
10        Miss
11        Miss
12          Mr
13          Mr
14        Miss
15         Mrs
16      Master
17          Mr
18         Mrs
19         Mrs
20          Mr
21          Mr
22        Miss
23          Mr
24        Miss
25         Mrs
26          Mr
27        Miss
28          Mr
29         Don
         ...
1268        Mr
1269    Master
1270        Mr
1271       Mrs
1272    Master
1273        Mr
1274        Mr
1275       Mrs
1276        Mr
1277       Mrs
1278        Mr
1279        Mr
1280      Miss
1281        Mr
1282      Miss
1283        Mr
1284        Mr
1285        Mr
1286        Mr
1287        Mr
1288      Miss
1289      Miss
1290      Miss
1291       Mrs
1292      Miss
1293        Mr
1294      Dona
1295        Mr
1296        Mr
1297    Master
Name: Title, Length: 1298, dtype: object

#### 这里还需要把Title继续、统一

In [37]:
dataset["Title"] = dataset["Title"].replace(['Lady', 'the Countess', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
dataset["Title"] = dataset["Title"].map(
    {"Master": 0, "Miss": 1, "Ms": 1, "Mme": 1, "Mlle": 1, "Mrs": 1, "Mr": 2, "Rare": 3})
dataset["Title"] = dataset["Title"].astype(int)
dataset.drop(labels=["Name"], axis=1, inplace=True)

## 依据Parch和SibSp创建一个新的特征（家庭大小）Fsize

In [ ]:
dataset["Fsize"] = dataset["SibSp"] + dataset["Parch"] + 1

In [39]:
dataset['Single'] = dataset['Fsize'].map(lambda s: 1 if s == 1 else 0)
dataset['SmallF'] = dataset['Fsize'].map(lambda s: 1 if s == 2  else 0)
dataset['MedF'] = dataset['Fsize'].map(lambda s: 1 if 3 <= s <= 4 else 0)
dataset['LargeF'] = dataset['Fsize'].map(lambda s: 1 if s >= 5 else 0)

## 类似one-hot编码

In [ ]:
dataset = pd.get_dummies(dataset, columns=["Title"])
dataset = pd.get_dummies(dataset, columns=["Embarked"], prefix="Em")

## Cabin,统计发现有很多人的舱位是null,实际情况应该是把票里没有舱位的人也置为null,而不单纯是数据丢失

In [ ]:
dataset["Cabin"].isnull().sum()
dataset["Cabin"].describe()

## 把没舱位的人都设为"X",其他人就取舱位号的首字母,因为ABCDEFG舱可能表示在不同的位置

In [41]:
dataset["Cabin"] = pd.Series(['X' if pd.isnull(i) else i[0] for i in dataset['Cabin']])

In [42]:
dataset = pd.get_dummies(dataset, columns=["Cabin"], prefix="Cabin")

In [45]:
dataset

,Age,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,...,Title,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X
0,22.0,S,-0.380379,"Braund, Mr. Owen Harris",0,1,3,0,1,0.0,...,2,0,0,0,0,0,0,0,0,1
1,38.0,C,0.372137,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,1,1,1.0,...,1,0,0,1,0,0,0,0,0,0
2,26.0,S,-0.318060,"Heikkinen, Miss. Laina",0,3,3,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
3,35.0,S,0.321586,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,1,1,1.0,...,1,0,0,1,0,0,0,0,0,0
4,35.0,S,-0.307761,"Allen, Mr. William Henry",0,5,3,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
5,25.0,Q,-0.276365,"Moran, Mr. James",0,6,3,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
6,54.0,S,0.317260,"McCarthy, Mr. Timothy J",0,7,1,0,0,0.0,...,2,0,0,0,0,1,0,0,0,0
7,2.0,S,0.108419,"Palsson, Master. Gosta Leonard",1,8,3,0,3,0.0,...,0,0,0,0,0,0,0,0,0,1
8,27.0,S,-0.128286,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
9,14.0,C,0.202794,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,1,1,1.0,...,1,0,0,0,0,0,0,0,0,1
10,4.0,S,0.034505,"Sandstrom, Miss. Marguerite Rut",1,11,3,1,1,1.0,...,1,0,0,0,0,0,0,1,0,0
11,58.0,S,0.171890,"Bonnell, Miss. Elizabeth",0,12,1,1,0,1.0,...,1,0,0,1,0,0,0,0,0,0
12,20.0,S,-0.307761,"Saundercock, Mr. William Henry",0,13,3,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
13,39.0,S,0.212115,"Andersson, Mr. Anders Johan",5,14,3,0,1,0.0,...,2,0,0,0,0,0,0,0,0,1
14,14.0,S,-0.324049,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,1,0,0.0,...,1,0,0,0,0,0,0,0,0,1
15,55.0,S,0.019588,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
16,2.0,Q,0.195062,"Rice, Master. Eugene",1,17,3,0,4,0.0,...,0,0,0,0,0,0,0,0,0,1
17,30.0,S,-0.059815,"Williams, Mr. Charles Eugene",0,18,2,0,0,1.0,...,2,0,0,0,0,0,0,0,0,1
18,31.0,S,0.059575,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,1,1,0.0,...,1,0,0,0,0,0,0,0,0,1
19,25.0,C,-0.382935,"Masselmani, Mrs. Fatima",0,20,3,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
20,35.0,S,0.166483,"Fynney, Mr. Joseph J",0,21,2,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
21,34.0,S,-0.059815,"Beesley, Mr. Lawrence",0,22,2,0,0,1.0,...,2,0,0,0,1,0,0,0,0,0
22,15.0,Q,-0.309451,"McGowan, Miss. Anna ""Annie""",0,23,3,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
23,28.0,S,0.240932,"Sloper, Mr. William Thompson",0,24,1,0,0,1.0,...,2,1,0,0,0,0,0,0,0,0
24,8.0,S,0.108419,"Palsson, Miss. Torborg Danira",1,25,3,1,3,0.0,...,1,0,0,0,0,0,0,0,0,1
25,38.0,S,0.212958,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,1,1,1.0,...,1,0,0,0,0,0,0,0,0,1
26,25.0,C,-0.382935,"Emir, Mr. Farred Chehab",0,27,3,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
27,25.0,Q,-0.321921,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,1,0,1.0,...,1,0,0,0,0,0,0,0,0,1
28,25.0,S,-0.320516,"Todoroff, Mr. Lalio",0,30,3,0,0,0.0,...,2,0,0,0,0,0,0,0,0,1
29,40.0,C,0.182840,"Uruchurtu, Don. Manuel E",0,31,1,0,0,0.0,...,3,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,21.0,Q,-0.333079,"Canavan, Mr. Patrick",0,1280,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1269,6.0,S,0.108419,"Palsson, Master. Paul Folke",1,1281,3,0,3,NaN,...,0,0,0,0,0,0,0,0,0,1
1270,23.0,S,0.413749,"Payne, Mr. Vivian Ponsonby",0,1282,1,0,0,NaN,...,2,0,1,0,0,0,0,0,0,0
1271,51.0,S,0.263300,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,1,0,NaN,...,1,0,0,0,1,0,0,0,0,0
1272,13.0,S,0.096516,"Abbott, Master. Eugene Joseph",2,1284,3,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1
1273,47.0,S,-0.156653,"Gilbert, Mr. William",0,1285,2,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1274,29.0,S,0.121222,"Kink-Heilmann, Mr. Anton",1,1286,3,0,3,NaN,...,2,0,0,0,0,0,0,0,0,1
1275,18.0,S,0.343311,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,1,1,NaN,...,1,0,0,1,0,0,0,0,0,0
1276,24.0,Q,-0.380379,"Colbert, Mr. Patrick",0,1288,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1277,48.0,C,0.388804,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,1,1,NaN,...,1,0,1,0,0,0,0,0,0,0
1278,22.0,S,-0.330888,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1279,31.0,Q,-0.334551,"Conlon, Mr. Thomas Henry",0,1291,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1280,30.0,S,0.488732,"Bonnell, Miss. Caroline",0,1292,1,1,0,NaN,...,1,0,0,1,0,0,0,0,0,0
1281,38.0,S,0.107368,"Gale, Mr. Harry",0,1293,2,0,1,NaN,...,2,0,0,0,0,0,0,0,0,1
1282,22.0,C,0.341566,"Gibson, Miss. Dorothy Winifred",1,1294,1,1,0,NaN,...,1,0,0,0,0,0,0,0,0,1
1283,17.0,S,0.299114,"Carrau, Mr. Jose Pedro",0,1295,1,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1284,43.0,C,0.182840,"Frauenthal, Mr. Isaac Gerald",0,1296,1,0,1,NaN,...,2,0,0,0,1,0,0,0,0,0
1285,20.0,C,-0.033893,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,0,0,NaN,...,2,0,0,0,1,0,0,0,0,0
1286,23.0,S,-0.156653,"Ware, Mr. William Jeffery",0,1298,2,0,1,NaN,...,2,0,0,0,0,0,0,0,0,1
1287,50.0,C,0.517535,"Widener, Mr. George Dunton",1,1299,1,0,1,NaN,...,2,0,0,1,0,0,0,0,0,0
1288,25.0,Q,-0.335657,"Riordan, Miss. Johanna Hannah""""",0,1300,3,1,0,NaN,...,1,0,0,0,0,0,0,0,0,1
1289,3.0,S,-0.036391,"Peacock, Miss. Treasteall",1,1301,3,1,1,NaN,...,1,0,0,0,0,0,0,0,0,1
1290,25.0,Q,-0.333079,"Naughton, Miss. Hannah",0,1302,3,1,0,NaN,...,1,0,0,0,0,0,0,0,0,1
1291,37.0,Q,0.408152,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,1,1,NaN,...,1,0,0,1,0,0,0,0,0,0
1292,28.0,S,-0.330888,"Henriksson, Miss. Jenny Lovisa",0,1304,3,1,0,NaN,...,1,0,0,0,0,0,0,0,0,1
1293,25.0,S,-0.307761,"Spector, Mr. Woolf",0,1305,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1294,39.0,C,0.435363,"Oliva y Ocana, Dona. Fermina",0,1306,1,1,0,NaN,...,3,0,0,1,0,0,0,0,0,0
1295,38.5,S,-0.380379,"Saether, Mr. Simon Sivertsen",0,1307,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1296,25.0,S,-0.307761,"Ware, Mr. Frederick",0,1308,3,0,0,NaN,...,2,0,0,0,0,0,0,0,0,1
1297,16.0,C,0.125505,"Peter, Master. Michael J",1,1309,3,0,1,NaN,...,0,0,0,0,0,0,0,0,0,1